<!--button mat-button [routerLink]="['/AddTask', id]">Add ToDo</button-->
<button mat-button (click)="showAddTaskView()">Add Todo</button>
<app-add-task-form
  *ngIf="showAddTask"
  [id]="id"
  (backFromAddTask)="backFromAddTask()"
></app-add-task-form>
<mat-card class="tasksCard">
  <mat-card-header>
    <mat-card-title>User {{ this.id }}</mat-card-title>
  </mat-card-header>
  <mat-selection-list *ngFor="let task of tasks">
    <app-task [task]="task"></app-task>
  </mat-selection-list>
</mat-card>
