<div class="AddTitle">Add Post</div>
<form class="AddForm" #f="ngForm" (ngSubmit)="customSubmit(f.valid)">
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Title"
      minlength="3"
      required
      #title="ngModel"
      [(ngModel)]="post.Title"
      type="text"
      name="title"
    />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Body"
      minlength="3"
      required
      #body="ngModel"
      [(ngModel)]="post.Body"
      type="text"
      name="body"
    />
  </mat-form-field>
  <div
    *ngIf="
      (!title.valid && title.dirty && title.errors.required) || !isFormValid
    "
  >
    The title is mandatory
  </div>
  <div
    *ngIf="(!body.valid && body.dirty && body.errors.required) || !isFormValid"
  >
    The body is mandatory
  </div>
  <div class="formBtns">
    <input type="submit" class="formBtn" value="Send" />
    <input
      mat-flat-button
      type="button"
      class="formBtn"
      value="Cancel"
      (click)="cancelBtn()"
    />
  </div>
</form>
