<div class="AddTitle">Add User</div>
<form class="AddForm" #f="ngForm" (ngSubmit)="customSubmit(f.valid)">
  <mat-form-field class="example-full-width">
    <input
      matInput
      minlength="3"
      required
      #UserName="ngModel"
      [(ngModel)]="user.Name"
      type="text"
      name="UserName"
      placeholder="Name"
    />
  </mat-form-field>
  <br />
  <mat-form-field class="example-full-width">
    <input
      matInput
      placeholder="Email"
      minlength="5"
      #Email="ngModel"
      [(ngModel)]="user.Email"
      type="text"
      name="Email"
    />
  </mat-form-field>
  <div
    *ngIf="
      (!UserName.valid && UserName.dirty && UserName.errors.required) ||
      !isFormValid
    "
  >
    The Name is mandatory
  </div>
  <div *ngIf="!UserName.valid && UserName.dirty && UserName.errors.minlength">
    The Name must be 2 chars minimum
  </div>

  <div *ngIf="(!Email.valid && Email.dirty) || !isFormValid">
    The Email must be 5 chars minimum
  </div>
  <div class="formBtns">
    <input class="formBtn" type="submit" value="Send" />
  </div>
</form>
