<div class="usersData">
  <mat-form-field class="searchFld" appreance="outline">
    <input
      matInput
      placeholder="Search"
      type="text"
      #searchField
      (keyup)="search(searchField.value)"
    />
  </mat-form-field>
  <button class="addBtn" mat-button [routerLink]="['/AddUser']">Add</button>
  <div *ngFor="let user of users">
    <app-user
      [user]="user"
      (userDelete_Event)="userDelete_Event($event)"
      (userUpdate_Event)="userUpdate_Event($event)"
    ></app-user>
  </div>
</div>
